Flask==3.0.0
Flask-SQLAlchemy==3.1.1
reportlab==4.0.9
numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
nltk
spacy
textblob
requests
beautifulsoup4>=4.12.0
soupsieve>=2.5.0
selenium
xgboost
lightgbm

gunicorn==23.0.0
